<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>Disk Monitor</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="main-container">
        <div class="controls">
            <div class="tab active-tab" onclick="switchTab('partitions')">Partições</div>
            <div class="tab" onclick="handleDirectoriesTab()">Diretórios</div>
        </div>
        
        <div class="tab-container">
            <!-- Aba Partições -->
            <div id="partitions" class="tab-content active-content">
                <button class="layout-btn" onclick="toggleLayout()">Layout Horizontal</button>
                <div class="charts-container">
                    {{ pie_chart|safe }}
                    {{ bar_chart|safe }}
                </div>
            </div>

            <!-- Aba Diretórios -->
            <div id="directories" class="tab-content">
                <div class="directory-content">
                    <!-- Conteúdo dinâmico será injetado aqui -->
                </div>
            </div>
        </div>
    </div>
    <script src="/static/scripts.js"></script>
</body>
</html>